@font-face {
  font-family: "Funnel Sans";
  src: url("assets/fonts/Funnel_Sans/FunnelSans-Regular.ttf") format("truetype"),
    url("assets/fonts/Funnel_Sans/FunnelSans-Light.ttf") format("truetype"),
    url("assets/fonts/Funnel_Sans/FunnelSans-Bold.ttf") format("truetype"),
    url("assets/fonts/Funnel_Sans/FunnelSans-Italic.ttf") format("truetype"),
    url("assets/fonts/Funnel_Sans/FunnelSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Funnel Sans";
  src: url("assets/fonts/Funnel_Sans/FunnelSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Funnel Sans";
  src: url("assets/fonts/Funnel_Sans/FunnelSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Global Reset & Box-Sizing */
* {
  box-sizing: border-box;
  font-family: "Funnel Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* Global Body Styles */
body {
  min-height: 100vh;
  background-color: #f5f5f5;
}
