.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: white;
  z-index: 10;
  flex-wrap: nowrap;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  cursor: pointer;
}

.header__logo-img {
  width: 30px;
  height: 30px;
}

.header__title {
  font-size: 20px;
  margin: 0;
}

.header__profile-dropdown {
  position: relative;
  display: inline-block;
}

.profile-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #1e293b;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 45px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-width: 150px;
  padding: 10px 0;
  z-index: 10;
}

.dropdown-menu a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  display: block;
}

.dropdown-menu a:hover {
  background: #f1f1f1;
}

@media (max-width: 768px) {
  .dropdown-menu {
    right: -20px;
  }
}

.header__profile-dropdown .dropdown-menu.open {
  opacity: 1;
  transform: translateY(0);
  display: block;
}

/* Navigation */
.header__nav {
  flex-grow: 1;
  text-align: center;
}

.header__menu {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.header__menu-item a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

/* AUTH BUTTONS */
.header__auth {
  display: flex;
  align-items: center;
  gap: 5px;
  width: auto;
  background: #e1d9c9;
  padding: 3px;
  border-radius: 25px;
  flex-shrink: 0;
}

.header__btn {
  padding: 8px 15px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

.header__btn--login {
  background: transparent;
  color: #000;
}

.header__btn--signup {
  background: #1e293b;
  color: white;
  border-radius: 20px;
}
