basePath: /
definitions:
  controllers.ErrorResponse:
    properties:
      error:
        example: Invalid request
        type: string
    type: object
  controllers.ProfileEditRequest:
    properties:
      affiliation:
        type: string
      bio:
        type: string
      full_name:
        type: string
    type: object
  controllers.ProfileEditResponse:
    properties:
      message:
        type: string
    type: object
  controllers.UserRegistrationRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  controllers.UserRegistrationResponse:
    properties:
      message:
        example: Registration successful
        type: string
      user_id:
        type: integer
    type: object
host: localhost:8080
info:
  contact: {}
  title: The Grid Backend API
  version: "0.0"
paths:
  /auth/register:
    post:
      consumes:
      - application/json
      description: Create a new user account using user credentials. The provided
        password is hashed before storing to database. A blank user profile is created.
      parameters:
      - description: User credentials
        in: body
        name: requestBody
        required: true
        schema:
          $ref: '#/definitions/controllers.UserRegistrationRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/controllers.UserRegistrationResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/controllers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/controllers.ErrorResponse'
      summary: Register a new user
      tags:
      - Authentication
  /users/{id}/profile:
    put:
      consumes:
      - application/json
      description: Update an existing user profile with new information.
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      - description: Profile information
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/controllers.ProfileEditRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/controllers.ProfileEditResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/controllers.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/controllers.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/controllers.ErrorResponse'
      summary: Edit user profile
      tags:
      - Users
swagger: "2.0"
